.skill_tab {
     align-items: center;
     justify-content: center;
}

.div_center_welcome {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.footer {
     height: 10vh;
     margin-top: 2vh;
     border-radius: 0 !important;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.paper_glass {
     background: rgba(255, 255, 255, 0.75);
     box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
     backdrop-filter: blur(4px);
     -webkit-backdrop-filter: blur(4px);
     border-radius: 10px;
     border: 1px solid rgba(255, 255, 255, 0.18);
}

.profile {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 82vh;
     border-radius: 0 !important;
}

.navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
}

.nav_item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
}

.liens {
    margin-right: 2vh;
    text-decoration: none;
}
